<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<table border="1">
	<tr>
		<th>NO</th>
		<th>商品名</th>
		<th>値段</th>
		<th class="t">個数</th>
		<th>小計</th>
		<th></th>
	</tr>
	<tr th:each="item:${@cart.items}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}"></td>
		<td>
			<input type="hidden" name="itemId" th:value="${item.id}" form="order">
			<input type="number" name="quantity" th:value="${item.quantity}" min="1" form="order" class="te">
		</td>
		<td th:text="${item.price*item.quantity}"></td>
		<td>
			<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button>削除</button>
			</form>
			<input type="hidden" name="quantity" th:value="${item.quantity}" form="order2">
		</td>
	</tr>
	<tr>
		<td align="right" colspan="5" th:text="'総計:'+${@cart.totalPrice}"></td>
		<td></td>
	</tr>
</table>
		
		<div style="display:inline-flex;">
		<form action="/cart/adds" method ="post" id="order">
			<button>注文</button> 
	
			<button  type="submit"  name="o"value="1">商品一覧</button>
		</form>
		</div><br>
		<span th:text="${memo}"  style="color:red"></span>
	</main>
	<hr>
	<footer th:replace="footer"></footer>

</body>
</html>