<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav>
		<th:block th:if="${s==1}">
		<form action="/items" method="get">
		商品名<input type="text" name="keyword" th:value="${keyword}">|<input type="number" name="maxPrice" th:value="${maxPrice}" min="0">円以下
		<button>検索</button>
	</form>
	
	<a href="/items?sort=pointDesc">レビュー評価順</a>
	<a href="/items?sort=priceAsc">安い順</a>
	
		<a href="/items?s=2">カテゴリー別表示</a>
		<a href="/cart" style="padding-left: 10px;">カートを見る</a>
		<a href="/favorite">お気に入りを見る</a>
		</th:block>
		
		<th:block th:if="${s==2}">
		<a th:each="c:${categories}" th:href="@{/items?s=2(categoryId=${c.id})}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span></a>
			<a href="/items">全商品</a>
			</th:block>
	</nav>
	
	<main>
		<table border="1">
			<tr>
				<th class="">お気に</th>
				<th>商品</th>
				<th>値段</th>
				<th>レビュー評価</th>
				<th></th>
			</tr>
			<tr th:each="item:${aa}">
				<td class="bb"><form action="/favorite/add" method="post">
						<input type="hidden" name="itemId"
						th:value="${item.id}">
					<button class="b"><span  th:text="${item.favorite}" style="color:rgb(255, 255, 0);" ></span>
						<block th:if="${item.favorite == ''}">
							<bbb>★</bbb>
					</block></button>
					</form>
					</td>
				<td><a th:href="@{/items/{ItemId}/info(ItemId=${item.id})}" method="get" th:text="${item.name}"></a></td>
				<td th:text="${item.price}"></td>
				<td th:text="${'★'+item.avgpoint}" style="color:gold"></td>	
				<td>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId"
						th:value="${item.id}">
						<button>カートに追加</button>
					</form>
				</td>
			
			</tr>
		</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>

</body>
</html>